{% extends 'base.html' %} {% block title %}Welcome Creator {% endblock %} {%
block content %}
<div class="container-fluid mt-5 text-center">
  <h1 class="mt-5">Kickstart your Creator Journey</h1>
  <h1 class="mb-3">Start with uploading Songs</h1>
  <a
    href="/songs/add"
    class="btn btn-primary btn-lg rounded-circle fs-1 mt-5"
    style="
      background-color: #e3e2e5;
      color: #491f62;
      border-radius: 50%;
      &:hover {
        background-color: #e3e2e5;
        color: #491f62;
      }
    "
    >+</a
  >
</div>
{% endblock %}
