{% extends 'base.html' %} {% block content %}
<div class="container mt-5">
  <h1 class="t4">{{ playlist.title }}</h1>
  <div class="row mt-5">
    <div class="col-md-4 mb-4">
      <img
        src="{{ url_for('static', filename='uploads/images/playlist_cover.jpeg') }}"
        alt="Playlist Image"
        class="img-fluid rounded"
      />
    </div>
    <div class="col-md-8">
      <div class="d-flex flex-column">
        <div id="song-info" class="mb-3">
          <h3 id="song-title"></h3>
          <p class="t5" id="song-artist"></p>
        </div>
        <audio id="audio-player" controls class="mb-3">
          Your browser does not support the audio element.
        </audio>
        <div class="d-flex">
          <button
            id="shuffle-button"
            class="btn btn-success bi-shuffle btn-lg ml-2"
            onclick="shufflePlaylist()"
          >
            Shuffle
          </button>
          <button
            id="next-button"
            class="btn btn-primary btn-lg ml-2"
            onclick="playNextSong()"
          >
            Next
          </button>
          <button
            class="btn btn-danger btn-lg ml-2"
            onclick="deletePlaylist({{ playlist.id }})"
          >
            Delete Playlist
          </button>
        </div>
      </div>
    </div>
  </div>

  <div id="playlist" class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Title</th>
          <th>Artist</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for song in playlist.songs %}
        <tr
          class="song"
          data-mp3="{{ url_for('static', filename='uploads/' + song.mp3) }}"
          data-image="{{ url_for('static', filename='uploads/' + song.image) }}"
          data-title="{{ song.title }}"
          data-artist="{{ song.artist }}"
          onclick="playSong(this)"
        >
          <td>{{ song.title }}</td>
          <td>{{ song.artist }}</td>
          <td>
            <button
              class="btn btn-danger"
              onclick="window.location.href='/playlist/{{playlist.id}}/{{song.id}}'"
            >
              Remove
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script>
  var playlist = document.getElementById("playlist");
  var audioPlayer = document.getElementById("audio-player");
  var playlistImage = document.querySelector(".col-md-4 img");
  var songTitle = document.getElementById("song-title");
  var songArtist = document.getElementById("song-artist");
  var currentSong = null;

  function playFirstSong() {
    var firstSong = playlist.querySelector(".song");
    if (firstSong) {
      playSong(firstSong);
    }
  }

  function playSong(songElement) {
    var mp3Url = songElement.getAttribute("data-mp3");
    var imageUrl = songElement.getAttribute("data-image");
    var title = songElement.getAttribute("data-title");
    var artist = songElement.getAttribute("data-artist");

    audioPlayer.src = mp3Url;
    audioPlayer.load();
    audioPlayer.play();

    playlistImage.src = imageUrl;
    updateSongInfo(title, artist);
    setCurrentSong(songElement);
    addNextButton();
  }

  function updateSongInfo(title, artist) {
    songTitle.textContent = title;
    songArtist.textContent = artist;
  }

  function setCurrentSong(songElement) {
    if (currentSong) {
      currentSong.classList.remove("active");
    }
    currentSong = songElement;
    currentSong.classList.add("active");
  }

  function playNextSong() {
    var nextSong = currentSong.nextElementSibling;
    if (nextSong) {
      playSong(nextSong);
    }
  }

  function shufflePlaylist() {
    var rows = Array.from(playlist.querySelectorAll(".song"));
    shuffleArray(rows);

    // Remove all rows from the tbody
    rows.forEach(function (row) {
      playlist.querySelector("tbody").appendChild(row);
    });

    playFirstSong();
  }

  function shuffleArray(array) {
    // Fisher-Yates shuffle algorithm
    for (var i = array.length - 1; i > 0; i--) {
      var j = Math.floor(Math.random() * (i + 1));
      var temp = array[i];
      array[i] = array[j];
      array[j] = temp;
    }
  }

  function addNextButton() {
    var nextButton = document.getElementById("next-button");
    if (!nextButton) {
      nextButton = document.createElement("button");
      nextButton.id = "next-button";
      nextButton.classList.add("btn", "btn-primary", "btn-lg", "ml-2");
      nextButton.textContent = "Next";
      nextButton.onclick = playNextSong;

      document.querySelector(".d-flex").appendChild(nextButton);
    }
  }

  function deletePlaylist(playlistId) {
    var confirmDelete = confirm(
      "Are you sure you want to delete this playlist?"
    );
    if (confirmDelete) {
      fetch(`/playlist/${playlistId}`, {
        method: "DELETE",
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then((response) => {
          if (response.ok) {
            window.location.href = "/home";
          } else {
            console.error("Failed to delete playlist");
          }
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    }
  }

  document.addEventListener("DOMContentLoaded", playFirstSong);
</script>
{% endblock %}
